# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
env
pip-selfcheck.json
aclImdb
__pycache__
gpt2
sms_spam_collection
aclImdb_v1.tar.gz
test_imdb.csv
test.csv
train_imdb.csv
train.csv
validation_imdb.csv
validation.csv
sms_spam_collection.zip
accuracy-plot.pdf
loss-plot.pdf
model.pth
model_and_optimizer.pth
review_classifier.pth
imdb_bert_classifier.pth